/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroimage.jpg');
    background-size:cover;
    position:relative;
    background-position: 50%;
}

.bgimage2 {
    height:100vh;
    background: url('images/birmi.jpg');
    background-size:cover;
    position:relative;
    background-position: 40%;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    text-shadow: 3px 3px 1px black;
}
.hero_desc {
    text-shadow: 3px 3px 1px black;
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
  height: auto;
  position: relative;
  max-width: 80%;
  left: 10%;
}

/* services section css */
.servicesText.card {
    height: 230px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

iframe {
    margin-top: 2.5%;
    margin-left: 10vw;
}

.card:hover .servicesIcon {
    color: #C97600;
}

.card:hover .card-title {
    color: #C97600;
}

input[type=submit] {
    background-color: #C97600;
    border: none;
}

input[type=submit]:hover {
    background-color: #883D00;
}

.servicesText:hover {
    border: 1px solid #C97600;
}

/* display background color black on navbar scroll 
.navbarScroll.navbarDark {
    background-color: black;
}*/

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover, .fa-envelope:hover {
    color: #C97600;
}
.fab {
    color: #808080;
}

/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}

/* spacing on all sections */
#about,#resume, #services, #portfolio, #contact {
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

#contact {
    padding-bottom: 4rem;
}








.btn {
    background-color: #C97600;
    border: none;
}

.btn:hover {
    background-color: #883D00;
}

.btn:focus {
    background-color: #883D00;
    outline: #C97600;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #C97600;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #883D00;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

